<div class="container">

    <div class="header">
        <h1 style="margin-top: -10px;">USER DETAILS</h1>
        <hr>

        <img src="https://thumbs.dreamstime.com/b/default-avatar-profile-flat-icon-vector-contact-symbol-illustration-184752213.jpg"
            alt="">
        <h1>{{userData.firstName}}&nbsp;{{userData.lastName}}</h1>
        <h3>Logged in user</h3>
        </div>
        <div class="header2">
           <div class="row">

            <!-- first div  -->

            <div class="col">
                <div class="btn-div d-flex justify-content-end">
                    <div class="button" (click)=onEdit() *ngIf="edit">
                        <button mat-icon-button style="margin-right: 10px; ">
                            <mat-icon>edit</mat-icon>&nbsp;Edit
                        </button>
                    </div>
                    <div class="button" (click)=onCancel() *ngIf="save">
                        <button mat-icon-button style="margin-right: 10px; ">
                            <mat-icon>cancel</mat-icon>&nbsp;close
                        </button>
                    </div>
                    <div class="button"  (click)=onSave() *ngIf="save">
                        <button mat-icon-button style="margin-right: 10px;">
                            <mat-icon>save</mat-icon>&nbsp;Save
                        </button>
                    </div>
        
                </div>
                <div *ngIf="edit">

                    <div class="card" >
                        <div class="card-body">
                          <h1 class="card-header text-center">View Details</h1>
                          <div class="d-flex justify-content-between ">
                            <h1 class="text-muted">User Id</h1>
                            <p >#COV00{{userData.id}}</p>
                         </div>
                         <br>
                         <div class="d-flex justify-content-between ">
                            <h3 >First Name</h3>
                            <p >{{userData.firstName}}</p>
                         </div>
                         <div class="d-flex justify-content-between ">
                            <h3 >Last Name</h3>
                            <p >{{userData.lastName}}</p>
                         </div>
                         <div class="d-flex justify-content-between ">
                            <h3 >Email</h3>
                            <p >{{userData.email}}</p>
                         </div>
                         
                         
                       
                        </div>
                      </div>

                </div>
               
                <div class="edit-details-card" *ngIf="save">
                        <h1 class="card-header text-center">Edit Details</h1>
             
                   
                    <form id="profile-form" (ngSubmit)="editUserDetails(editDetails)" #editDetails="ngForm">
                        <div class="form-group">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>First Name</mat-label>
                                <input matInput placeholder="First name" name="first_name" [ngModel]="userData.firstName" required>
                            </mat-form-field>
                        </div>
                        <div class="form-group">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>Last Name</mat-label>
                                <input matInput placeholder="Last Name" name="last_name" [ngModel]="userData.lastName" required>
                            </mat-form-field>
                        </div>
                        <div class="form-group">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>Email</mat-label>
                                <input matInput placeholder="email" name="email" [ngModel]="userData.email" required email #email="ngModel">
                                <small class="text-danger" *ngIf="!email.valid && email.touched">Please Enter a Valid Email</small>
                            </mat-form-field>
                        </div>
                        <button id="submit-profile" type="submit" style="display: none;">Update</button>
                    </form>
                </div>
            </div>

            <!-- second div  -->

            <div class="col">
                <div class="btn-div d-flex justify-content-end">
                    <div class="button " style="width:150px ;" (click)="onPassword()" *ngIf="password">
                        <button mat-icon-button style="margin-right: 40px; ">
                            <mat-icon>settings</mat-icon>&nbsp;password
                        </button>
                    </div>
                    <div class="button" (click)=onCancelP() *ngIf="updatePass">
                        <button mat-icon-button style="margin-right: 10px; ">
                            <mat-icon>cancel</mat-icon>&nbsp;close
                        </button>
                    </div>
                    <div class="button " style="width:150px ;" (click)="onUpdatePass()" *ngIf="updatePass" >
                        <button mat-icon-button style="margin-right: 40px; ">
                            <mat-icon>save</mat-icon>&nbsp;Update
                        </button>
                    </div>   
                </div>
                <div class="edit-details-card" *ngIf="updatePass">
                    <form (ngSubmit)="updatePassword(password)" #password="ngForm">
                        <div class="form-group">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>Old Password</mat-label>
                                <input matInput placeholder="Old Password" name="old_password" ngModel required>
                            </mat-form-field>
                        </div>
                        <div class="form-group">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>New Password</mat-label>
                                <input matInput placeholder="New password" name="new_password" ngModel required>
                            </mat-form-field>
                        </div>
                        <button id="submit-password" type="submit" style="display: none;">Update</button>
                    </form>
                        </div>
            </div>
           </div>
        </div>
    </div>
